@mixin clearfix {

	&::after{

		content: "";
		display: table;
		clear: both;
	}
}

@mixin position-center{
    
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 - 600px: Phone;
900 - 1200px: Tablet Portrait;
1200 - 1800: Desktop. Our Normal styles.
1800px: Big desktop;
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

//ORDER: Base + typography > general > layout + grid > page layout > components

// 1em = 16px -- coming from browser default

@mixin respond($breakpoint){

	@if $breakpoint == small-phone{

	@media only screen and (max-width: 20em){ /*320px/16=20*/

		@content
	};

    }


	@if $breakpoint == phone{

	@media only screen and (max-width: 37.5em){ /*600px/16=37.5*/

		@content
	};

	}

	@if $breakpoint == tab-port{
		
	@media only screen and (max-width: 56.25em){ /*900px/16*/

		@content
	};

	}

	@if $breakpoint == tab-land{
		
	@media only screen and (max-width: 75em){ /*1200px/16*/

		@content
	};

	}

	@if $breakpoint == big-desktop{
		
	@media only screen and (min-width: 112.5em){ /*1800px/16*/

		@content
	};

	}
}