.form{

	&__group:not(:last-child){

		margin-bottom: 2rem;
	}

	&__input{

		font-size: $default-font-size;
		padding: 1.5rem 2rem;
		border-radius: .2rem;
		background-color: rgba(white, .7);
		border: none;
		font-family: inherit;
		color: #666;
		width: 75%;
		display: block;
		border-bottom: .3rem solid transparent;
		transition: all .3s;

        @include respond(tab-land){

            width: 100%;
        }

        @include respond(tab-port){

            width: 100%;
        }

		&::-webkit-input-placeholder{

			color: #999;
		}

		&:focus{

				outline: none;
				box-shadow: 0 1rem 2rem rgba(black, .2);
				border-bottom: .3rem solid $color-primary;
				transform: scale(1.03);


				&:invalid{

					border-bottom: .3rem solid $color-secondary-dark;

				}
		}



}

	&__label{ 

		font-size: $default-font-size;
		font-weight: 500;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		opacity: 1;
		transition: all .2s ease;
	}

	&__input:placeholder-shown + &__label{

		opacity: 0;
		visibility: hidden;
		transform: translateY(-4.53rem);
	}

    &__radio-group{

    	display: inline-block;
    	width: 49%;
    	padding-left: 2rem;
    	padding-bottom: 1rem;

        @include respond(tab-port){

            width: 100%;
            // display: block;
            margin-top: 1rem;
        }


    }

    &__radio-label{

    	font-size: $default-font-size;
    	cursor: pointer;
    	position: relative;
    	padding-left: .9rem;

        @include respond(tab-port){

            // width: 100%;
           padding-left: 1.5rem;
        }

    }

    &__radio-button{

    	height: 2.5rem;
    	width: 2.5rem;
    	border: 5px solid $color-primary;
    	border-radius: 50%;
    	display: inline-block;
    	position: absolute;
    	left: -2rem;
    	top: -.2rem;

    	&::after{

    		height: .9rem;
    		width: .9rem;
    		content: "";
    		display: block;
    		border-radius: 50%;
    		position: absolute;
    		top: 50%;
    		left: 49%;
    		transform: translate(-50%, -50%);
    		background-color: $color-primary;
    		opacity: 0;
    		transition: opacity .1s;
                      
    	}
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{

    	opacity: 1;
    }

    &__radio-input{

    	display: none;
    }

}